body {
    /* Lien vers votre image */
    background-image: url('22001.jpg');
    
    /* Adapter l'image à la taille de l'écran */
    background-size: cover;
    
    /* Centrer l'image dans la fenêtre */
    background-position: center center;
    
    /* Garder l'image fixe lors du défilement */
    background-attachment: fixed;
    
    /* Empêcher la répétition de l'image */
    background-repeat: no-repeat;
    
    /* Fixer la couleur de fond (au cas où l'image prend du temps à charger) */
    background-color: #f0f0f0;
}

.center {
    text-align: center;
    margin-bottom: 20px;
}

.palier1 {
    border: 1px solid blue;
    height: 200px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 15px 20px 30px 40px;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: -500px;
    top: 60px;
    transition: all 0.5s ease;
}

.button1 {
    padding: 10px 40px;
    font-size: 14px;
    color: black;
    background-color: rgb(0, 255, 21);
    border: 2px solid    rgb(0, 255, 21);
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button1:hover {
    background-color: #04AA6D;
    color: rgb(233, 2, 2);
}

.palier2 { 
    border: 1px solid blueviolet;
    height: 200px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 15px 20px 30px 40px;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 500px;
    top: 60px;
    transition: all 0.5s ease;
}

.button2 {
    padding: 10px 40px;
    font-size: 14px;
    color: black;
    background-color: rgb(255, 0, 255);
    border: 2px solid #ff00ff;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
    background-color: #737473;
    color: rgb(233, 2, 2);
}


.palier3 { 
    border: 1px solid blueviolet;
    height: 200px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 15px 20px 30px 40px;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 00px;
    top: 0px;
    transition: all 0.5s ease;
}

.button3 {
    padding: 10px 40px;
    font-size: 14px;
    color: black;
    background-color: rgb(255, 0, 255);
    border: 2px solid #ff00ff;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button3:hover {
    background-color: #737473;
    color: rgb(233, 2, 2);
}
